**Homework 2**: *Katherine McKown*

Question 1: *Using While Loop. As long as n is less than 10, print out n. However, when n equals to 5, stop the loop.*

In [ ]:
n=0
while n < 10:
  print(n)
  n += 1
  if n==5:
    break

0
1
2
3
4

Question 2: *Using while loop. Initialize n=0. While n is < 5, print out n. Otherwise, print out $n “is not less than 5”.*

In [55]:
n=0
while n < 5:
  print(n)
  n += 1
else:
  print("n is not less than 5")

0
1
2
3
4
n is not less than 5

Question 3: *Create your favorite fruit list, using For Loop, print out all the fruits in your list. However, when one
fruit name equals to “apple”, stop the loop.*

In [ ]:
fruit_list=["melon", "rasbery", "mango", "apple", "pineapple"]
for x in fruit_list:
  print(x)
  if x=="apple":
    break

melon
rasbery
mango
apple

Question 4: *Add all the integers from 1 to 30, print out the sum. Using while loop.*

In [ ]:
n=1
sum=0
while n<=30:
  sum = sum + n
  n = n + 1
print(sum)

465

Question 5: *Using if…elif…else statement, to help grade students’ score. You can define grade yourself, for
example, grade = 55*

In [53]:
grade = 55
if grade > 90:
  print('A')
elif grade == [80,90]:
  print('B')
elif grade == [70,80]:
  print('C')
elif grade == [60,70]:
  print('D')
elif grade < 60:
  print('F')
else:
  print('Incomplete')

F

Question 6: *Define a dictionary, composed with students name and their grade.*

In [3]:
grades_dict = {"Andy": 88,
               "Amy": 66,
               "James": 90,
               "Jules": 55,
               "Arthur": 77}

In [16]:
#6.1: Using for loop, print out all the students name and their grade. 
for x in grades_dict:
    print(x,",", grades_dict[x])

Andy , 88
Amy , 66
James , 90
Jules , 55
Arthur , 77

In [ ]:
#6.2: Of this dictionary, calculate all the student’s mean grade, maximal grade, and minimal grade. 
max(grades_dict.values())

90

In [ ]:
min(grades_dict.values())

55

In [17]:
sum = sum(grades_dict.values())

In [ ]:
avg = sum / len(grades_dict.values())
print(avg)

75.2

In [40]:
#6.3: Using for loop or while loop, for all the keys in the dictionary, print out key. However, if ‘J’ appears, stop the loop. 
for student in grades_dict.keys():
  if 'J' in student:
    break
  print(student)

Andy
Amy

In [43]:
#6.4: Using for loop or while loop, for all the keys in the dictionary, print out key. However, if ‘J’ appears, skip this key, and continue the loop.
for student in grades_dict.keys():
  if 'J' in student:
    continue
  print(student)

Andy
Amy
Arthur